Makefile.in
aclocal.m4
compile
config.h.in
configure
depcomp
install-sh
ltmain.sh
*/Makefile.in
*/Makefile
*/*.o
*/*/*.o
*/*/*/*.o
*/.deps/
*/*/.deps/
*/*/*/.deps/
*/.libs/
*/*/.libs/
*/*/*/.libs/
*/*.lo
*/*/*.lo
*/*/*/*.lo
*/*.la
*/*/*.la
*/*/*/*.la
*/*.a
*/*/*.a
*/*/*/*.a
m4/
missing
po/Makefile.in.in
po/.intltool-merge-cache
config.guess
config.h
config.h.in~
config.log
config.status
config.sub
libtool
man/*.1
po/LINGUAS
po/Makefile
po/POTFILES
po/*.gmo
po/stamp-it
stamp-h1
Makefile
intltool-extract.in
intltool-merge.in
intltool-update.in
data/lxterminal-preferences.ui
data/lxterminal.conf
data/lxterminal.desktop
src/lxterminal
